{% extends "layout/base.html" %}
{% block 'title' %} Add User {% endblock 'title' %}
{% block 'content' %}

{% include "include/sidebar.html" %}
{% include "include/toastmessage.html" %}

<div class= "w-full p-2 sm:ml-64 mt-16 md:mt-14"style="background: linear-gradient(180deg, #a2d5c6 0%, #e0f7fa 100%);">
    <form action="/user/add" method="post">
        {% csrf_token %}
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mx-auto linear-gradient(180deg, #a2d5c6 0%, #e0f7fa 100%);">
            <div class= "col-span-2 md:col-span-1">
                <div class="mb-4">
                    <label for="full_name" class="block text-sm font-medium mb-2">Full Name</label>
                    <input type="text" class=" bg-white px-3 py-2.5 border border-#0fa4af text-black block text-sm font-medium rounded-sm w-full focus:outline-none focus:ring-blue-600 focus:border-blue-600" name="full_name" id="full_name" value="{{ user.full_name }}" />
                </div>
                <div class="mb-4">
                    <label for="full_name" class="block mb-2 text-sm font-medium text-black dark:text-white">Gender</label>
                <select name="gender" id="gender" class="bg-white px-3 py-2.5 border border-#0fa4af text-black block text-sm font-medium rounded-sm w-full focus:outline-none focus:ring-blue-600 focus:border-blue-600">
                {% for gender in genders %}
                <option value="{{ gender.gender }}">{{ gender.gender }}</option>
                {% endfor %} </select>
                </div>
                <div class="mb-4">
                    <label for="birthdate" class="block text-sm font-medium mb-2">Birth Date</label>
                    <input type="date" class="bg-white px-3 py-2.5 border border-#0fa4af text-black block text-sm font-medium rounded-sm w-full focus:outline-none focus:ring-blue-600 focus:border-blue-600" name="birthdate" id="birthdate" value="{{ user.birthdate }}"/>
                </div>
                <div class="mb-4">
                    <label for="address" class="block text-sm font-medium mb-2">Address</label>
                    <input type="text" class=" bg-white px-3 py-2.5 border border-#0fa4af text-black block text-sm font-medium rounded-sm w-full focus:outline-none focus:ring-blue-600 focus:border-blue-600" name="address" id="address" value="{{ user.address }}" />
                </div>
                <div class="mb-4">
                    <label for="email" class="block text-sm font-medium mb-2">Email</label>
                </div>
                <div class="mb-4"> 
                    <input type="text" class=" bg-white px-3 py-2.5 border border-#0fa4af text-black block text-sm font-medium rounded-sm w-full focus:outline-none focus:ring-blue-600 focus:border-blue-600" name="email" id="email" value="{{ user.email }}" />
                </div>
                    <div class="mb-4">
                        <label for="user.contact_number" class="block text-sm font-medium mb-2">Contact Number</label>
                        <input type="text" class=" bg-white px-3 py-2.5 border border-#0fa4af text-black block text-sm font-medium rounded-sm w-full focus:outline-none focus:ring-blue-600 focus:border-blue-600" name="user.contact_number" id="user.contact_number" value="{{ user.contact_numbers }}" />
                    </div>
                <div class="mb-4">
                    <label for="username" class="block text-sm font-medium mb-2"> Username</label>
                    <input type="text" class=" bg-white px-3 py-2.5 border border-#0fa4af text-black block text-sm font-medium rounded-sm w-full focus:outline-none focus:ring-blue-600 focus:border-blue-600" name="username" id="username"  value="{{ user.username }}" />
                </div>
                <div class="flex justify-end">
                    <button type="button" class="bg-blue-500 hover:bg-blue-600 text-sm font-medium text-white rounded-sm px-6 py-2 focus:outline-none border border-#0fa4af mr-2" onclick="window.history.back();">Back</button>
                    <button type="submit" class="bg-green-500 hover:bg-green-600 text-sm font-medium text-white rounded-sm px-6 py-2 focus:outline-none">Submit User</button>    
                </div>
            </div>
        </div>    
    </form>                                                                                 
</div> 

{% endblock 'content' %}