{% extends "layout/base.html" %}

{% block 'title' %} Add Gender Page {% endblock 'title' %}     

{% block 'content' %}
{% include "include/sidebar.html" %}
{% include "include/ToastMessage.html" %}

<div class="p-2 sm:ml-64 mt-16 md:mt-14 flex justify-center min-h-screen bg-gradient-to-b from-[#0b777f] to-[#7ea69a]">
    <form action="/gender/add" method="post">
        {% csrf_token %}
        <div class="mb-4">
                <label for="Gender" class="block text-sm font-medium mb-2">Gender</label>
                <input type="text" class=" bg-white px-3 py-2.5 border border-gray-300 text-black block text-sm font-medium rounded-sm w-full focus:outline-none focus:ring-blue-600 focus:border-blue-600" name="gender" id="gender" />            
            <div class="flex justify-end mt-1.5 ">
                <button type="submit" class=" bg-green-600 hover:bg-green-700 text-sm font-medium text-white px-3 py-2.5 rounded-sm shadow-sm cursor-pointer">Save Gender</button>
            </div>
        </div>
    </form>                                                                                 
</div>

{% endblock 'content' %}




