{% extends "layout/base.html" %}

{% block 'title' %}Edit Gender Page{% endblock 'title' %}

{% block 'content' %}
    {% include "include/sidebar.html" %}
    {% include "include/ToastMessage.html" %}

    <div class="flex items-center justify-center min-h-screen bg-gradient-to-b from-[#0b777f] to-[#7ea69a]">
        <form action="/gender/edit/{{ gender.gender_id }}" method="post" class="bg-gradient-to-b from-[#0fa4af] to-[#a2d5c6] p-8 rounded-lg shadow-lg w-full max-w-md">
            {% csrf_token %}
            <div class="mb-4">
                <label for="gender" class="block text-sm font-medium mb-2">Gender</label>
                <input type="text" class="bg-white px-3 py-2.5 border border-gray-300 text-black block text-sm font-medium rounded-sm w-full focus:outline-none focus:ring-blue-600 focus:border-blue-600" name="gender" id="gender"value="{{ gender.gender }}"                />
                <div class="flex justify-end mt-1">
                    <a href="/gender/list" class="bg-white text-sm font-medium text-black px-3 py-2.5 rounded-sm shadow-sm mr-1 cursor-pointer hover:bg-gray-100 hover:outline-none">Back</a>
                    <button type="submit" class="bg-green-600 text-sm font-medium text-white px-3 py-2.5 rounded-sm shadow-sm cursor-pointer hover:bg-green-700 hover:outline-none">Save Gender</button>
                </div>
            </div>
        </form>
    </div>

{% endblock 'content' %}