{% extends "layout/base.html" %}

{% block 'title' %}
Gender list
{% endblock 'title' %}

{% block 'content' %}

{% include "include/sidebar.html" %}

<div class= " p-2 sm:ml-64 mt-16 md:mt-14 bg-gradient-to-b from-[#0b777f] to-[#7ea69a] ">
    <div class="relative overflow-x-auto  ">  
        <table class="w-full">
            <thead class="text-xs text-black bg-gradient-to-b from-[#074c51] to-[#556f67] ">
                <tr>
                    <th class="px-6 py-3 ">Gender</th>
                    <th class="px-6 py-3 ">Action</th>
                </tr>
            </thead>
            <tbody class="bg-gradient-to-b from-[#0b777f6f] to-[#344540]">
            {% for gender in genders %}
            <tr class=" hover:bg-cyan-900 border-b border-cyan-900">
                <td class= "px-10 py-3 text-center align-middle ">{{gender.gender}}</td>
                <td class= "px-10 py-3 text-center align-middle"> 
                    <div class="inline-flex shadow-sm">
                        <a href="/gender/edit/{{ gender.gender_id }}" class= "bg-green-600 px-3 py-2.5 font-medium text-white rounded-s-sm hover:bg-green-700 hover:outline-none">Edit</a>
                        <a href="/gender/delete/{{ gender.gender_id }}" class= "bg-red-600 px-3 py-2.5 font-medium text-white rounded-e-sm hover:bg-red-700 hover:outline-none">Delete</a>
                    </div>
                </td>
            </tr>   
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>   

{% endblock 'content' %} 