{% extends "layout/base.html" %}

{% block 'title' %}
Gender list
{% endblock 'title' %}

{% block 'content' %}

{% include "include/sidebar.html" %}

<div class= "p-2 sm:ml-64 mt-16 md:mt-14">
    <div class="relative overflow-x-auto">
        <table class="w-full  ">
            <thead class="text-xs text-white bg-blue-600">
                <tr>
                    <th class="px-6 py-3 ">Gender Id</th>
                    <th class="px-6 py-3 ">Gender</th>
                    <th class="px-6 py-3 ">Action</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y dark:bg-gray-800 dark:divide-gray-700">
            {% for gender in genders %}
            <tr class="hover:bg-gray-100 border-b border-gray-200">
                <td class= "px-10 py-3">{{gender.gender_id}}</td>
                <td class= "px-10 py-3">{{gender.gender}}</td>
                    
                <td></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>   

{% endblock 'content' %}